* {
    padding: 0;
    margin: 0;
    font-family: poppins;
  }
  /* <--header start--> */
  .navbar {
    height: 80px;
    background-image: linear-gradient(to right, rgb(0, 0, 50), aqua);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    margin-top: 20px;
  }
  
  .logo {
    font-size: 30px;
    font-weight: 700;
    color: white;
    margin-left: 60px;
    width: 30%;
  }
  
  .menubar {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .menubar a {
    color: rgb(0, 6, 39);
    font-size: 18px;
    text-decoration: none;
    font-weight: bolder;
  }
  /* <<--header-end-->> */



body{
  margin-top: -20px;
  background-image: url(./assets/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
h1{
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    background: linear-gradient(to top, rgb(0, 0, 50), aqua);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
form {
  width: 350px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.666);
  margin-top: 120px;
  margin-left: 900px;
}

label {
  display: block;
}

input[type="text"],
input[type="password"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}
button {
  background-image: linear-gradient(to right, rgb(0, 0, 50), aqua);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}
a{
    color: white;
    text-decoration: none;
}